.glitch-text {
  color: white;
}

.glitch-text span {
  position: relative;
  display: inline-block;
  animation: glitchMain 2s infinite linear; /* animação do texto real */
}

.glitch-text span::before,
.glitch-text span::after {
  content: "404";
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

.glitch-text span::before {
  animation: glitchTop 2s infinite linear;
  color: #ff00c1;
  z-index: -1;
}

.glitch-text span::after {
  animation: glitchBottom 1.5s infinite linear;
  color: #00fff9;
  z-index: -2;
}

@keyframes glitchMain {
  0% {
    transform: none;
  }
  7% {
    transform: translate(-2px, 2px) skew(-1deg);
  }
  10% {
    transform: translate(2px, -1px) skew(1deg);
  }
  13% {
    transform: translate(-1px, 1px) skew(-1deg);
  }
  16% {
    transform: translate(1px, -2px) skew(0deg);
  }
  19% {
    transform: translate(-1px, 1px) skew(1deg);
  }
  22% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
  10% {
    clip: rect(0, 9999px, 20px, 0);
    transform: translate(-2px, -2px);
  }
  20% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(2px, 2px);
  }
  30% {
    clip: rect(0, 9999px, 20px, 0);
    transform: translate(-1px, 1px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
  10% {
    clip: rect(10px, 9999px, 30px, 0);
    transform: translate(2px, 1px);
  }
  20% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(-2px, -2px);
  }
  30% {
    clip: rect(5px, 9999px, 25px, 0);
    transform: translate(1px, -1px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}
