:root {
  --color-bg: #0a121d;
  --color-fg: #d9dbf8;

  --grid-line-color: rgba(255, 255, 255, 0.03);
  --grid-size: 120px;
  --grid-line-thickness: 1px;
}

@theme {
    --color-background: var(--color-bg);
    --color-foreground: var(--color-fg);

    --color-grid-line: var(--grid-line-color);
    --grid-size: var(--grid-size);
    --grid-line-thickness: var(--grid-line-thickness);
}